<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleCompose">
        <activity
            android:name=".nested_navigation.NestedNavigation25Activity"
            android:exported="true"
            android:label="@string/title_activity_nested_navigation25"
            android:theme="@style/Theme.SampleCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.NavigationWithArguments24Activity"
            android:exported="true"
            android:label="@string/title_activity_navigation_with_arguments24"
            android:theme="@style/Theme.SampleCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.NavigationCompose23Activity"
            android:exported="true"
            android:label="@string/title_activity_navigation_compose23"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".TopAppBar21Activity"
            android:exported="true"
            android:label="@string/title_activity_top_app_bar21" />
        <activity
            android:name=".BottomNavigationBar20Activity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation_bar20" />
        <activity
            android:name=".lazy.LazyColumnWithImage17Activity"
            android:exported="true"
            android:label="@string/title_activity_lazy_column_with_image17"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".lazy.LazyRowAndColumn16Activity"
            android:exported="true"
            android:label="@string/title_activity_lazy_row_and_column16"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".StateReComposition10Activity"
            android:exported="true"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".DiceRollerActivity"
            android:exported="true"
            android:label="@string/title_activity_dice_roller"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".PracticeComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_practice_compose"
            android:theme="@style/Theme.SampleCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SampleCompose" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>